################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ardvark/bin
/Ardvark/obj
/Ardvark/App.Debug.config
/Ardvark/App.Release.config
/packages
/.vs/Aardvark Solution/v14
